*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

header{
    background-color: #222;     
}

nav{
    display: flex;
    justify-content: center;

    padding: 2rem 0;
}

.menu-hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    width: 40px;
    height: 7px;
    background-color: yellow;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 3rem;
}

.menu{
    display: flex;
    gap: 25px;

    list-style: none;
}

.menu a:hover {
    font-size: 25px;
    transition: 1s;
    color: #f93c03;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

/* TENTANDO FAZER O GRID */
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*configurar o .wrapper?*/
    grid-gap: 5px;
    align-items: center;
    
/*O AUTO-FIT FAZ ELE SE REAJUSTAR DE ACORDO COM A TELA // O MINMAX DIZ QUAL É O MINIMO QUE O CONTAINER PODE FICAR  */
}

h2{
    font-size: 30px;
    color: #ce4a22;
} 

section{
    padding: 25px;
    text-align: justify;
    background-color: white;
}

.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px; 
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Rodapé*/

footer{
    position: block;
    width: 98.55%;
    background-color: #0f0d0c;
    border-top: 4px rgb(68, 0, 0) solid;
    margin-top: 5px;
    padding: 10px;
    color: #f1f1f1;

}

.container-footer{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

h3{
    font-size: 30px;
    color: #f17f06;
    margin-bottom: 40px;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

footer p{
    text-align: justify;
    line-height: 45px;
}

footer span {
    color: orangered;
    background-color: rgb(83, 54, 1);
    border-radius: 100%;
    padding: 10px;
    margin-right: 5px;
}

footer h3 i {
    margin-right: 10px;
    font-size: 30px;
    color: #f1f1f1;
}

footer a i {
    margin-right: 10px;
    font-size: 20px;
    color: #222;
    background-color: orange;
    padding: 5px;
    border-radius: 20px;
}

footer p:active {
    transition: 3s;
    transform: scale(10);
}


/* FINAL */
@media screen and (max-width: 768px){
    .menu-hamburger{ 
        display: block;
    }
    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .menu li{
        margin: 10px 0;
    }
    .menu.active{
        display: flex;
    }
    .menu a:hover{
        font-weight:bold;
        transition: 1s;
        background-color: #f1f1ee;
        padding: 0 40px;
        border-radius: 3px;
    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img{
        object-fit: contain;
        width: 80%;
    }
    .container-footer{
        display: inline-block;
        
    }
    .coluna{
        margin-bottom: 20px;
    }
}